<div class="row"  >
    <div class="col-12" >
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div align="center" class="container d-flex justify-content-between">
                    <div class="navbar-brand d-flex align-items-center" align="center">
                        <strong>
                            The Coffee Shop Shift Lock
                        </strong>
                    </div>
                </div>
            </div>
        </header>

    </div>
</div>
