{{> header.handlebars}}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <form method="get" action="/day">
                <div class="form-group">
                    <h5>Hello: {{username}} </h5>
                </div>
            </form>
        </div>
    </div>
</div>
</body>