{{> header.handlebars}}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<div>
    <div class="main">
        <div class="col-sm-12" align="center">
            <form method="get" action="/days">
                <div class="form-group">
                    <div class="col-6">
                        <br>
                        <h2 align="center"><i style='font-size:34px' class='fas'>&#xf46c;</i>
                            Waiter Shift Lock</h2>
                        <br><br>
                        <table class="table">

                            <thead>
                            <tr>
                                {{#each dayList}}
                                <th>{{dayName}}</th>
                                {{/each}}
                            </tr>
                            </thead>

                                <tr>
                            {{#each dayList}}
                                <td>
                                    <ul>
                                        {{#each users}}
                                            <a href="{{this}}/view"> {{this}} </a>
                                        {{/each}}
                                    </ul>
                                </td>
                            {{/each}}
                                </tr>

                        </table>
                    </div>
                </div>
            </form>

            <p align="center"> <a href="/days/reset"> <button type="submit" class="btn btn-secondary">Reset Shifts</button> </a></p>
            <p align="center"> <a href="/all_waiters"> <button type="submit" class="btn btn-secondary">View All Waiters</button> </a></p>

        </div>
    </div>
</div>
</body>

<style>
table {
  padding: 0;
  margin: 10;
  border-left: none;
  border-right: none;
  text-align:center;
  border-collapse:separate;
  border-spacing: 0 2px;
  width: 100%;
}

ul{
   text-align:center;
}

table tr       {background:#fff;}
table tr:hover {background:#EBF7FC;}

table tr       td             {padding:6px 8px;}
table tr       td:first-child {border-left: 3px solid #fff;}
table tr       td:last-child  {border-right:3px solid #fff;}
table tr:hover td:first-child {border-left: 3px solid #4EB2E2;}
table tr:hover td:last-child  {border-right:3px solid #4EB2E2;}

</style>
